@use "../../../styles/index.scss" as main;

.card {
  :global .MuiAccordionSummary-content {
    margin: 0;
  }

  &__accord {
    background-color: main.$var-clr-primary;
    background-image: none;
  }

  &__summary {
    padding: 15px;

    &--bg-blue-light {
      background: radial-gradient(
            13.94% 159.29% at 0% 50%,
            rgba(0, 132, 207, 0.4) 0%,
            rgba(0, 132, 207, 0) 100%
          )
          repeat scroll 0% 0%,
        transparent none repeat scroll 0% 0%;
    }
  }

  &__content {
    &__info {
      svg {
        height: 40px;
        margin-right: 25px;
        margin-left: 5px;
        width: 40px;
      }
    }

    &__name {
      font-family: "Nunito", sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 1;
    }
  }
}

.dashboard {
  &Stat {
    &:before {
      display: none;
    }

    &:global.Mui-expanded {
      margin: 0;
    }

    &Summary {
      margin: 0;
      min-height: 36px;
      background-color: main.$var-clr-primary-dark;

      :global .MuiAccordionSummary-content {
        margin: 5px 0;
      }

      &:global.Mui-expanded {
        min-height: 36px;
      }

      &Title {
        svg {
          width: 12px;
          height: 12px;
          color: main.$var-clr-purple;
          margin-right: 10px;
        }
        p {
          font-size: 12px;
        }
      }
    }

    .MuiAccordionDetails-root {
      background-color: main.$var-clr-primary;
    }

    &Details:global.MuiAccordionDetails-root {
      padding: 0;
      background-color: main.$var-clr-primary;
    }

    &Card {
      background-color: main.$var-clr-primary-dark;
      background-image: none;
    }

    &Content {
      $content: &;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;

      &__Desktop {
        flex-direction: row;

        #{ $content }Item {
          flex-direction: column;
          padding: 15px;
          border-right: 1px solid main.$var-clr-primary;

          &Value {
            font-size: 14px;
            line-height: 18px;
          }
        }
      }

      &Item {
        display: flex;
        align-items: flex-start;
        padding: 5px 10px;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        flex: 1 1;
        &Title {
          margin: 3px 0;
          font-style: normal;
          font-weight: 500;
          font-size: 10px;
          line-height: 13px;
          color: main.$var-clr-text-secondary;
        }

        &Value {
          white-space: nowrap;
          margin: 3px 0;
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 18px;
        }
      }
    }
  }
}
